@import '../../style/sass/variable';
/*search box css start here*/
.search-sec {
  padding: 7px 12px;
  border: 1px solid $color-border-input;
  height: 60px;
  border-radius: 10px;
  form {
    height: 100%;
    select{
      height: 50px !important;
      border: 0;
      border-radius: 0;
      padding-right: 0;
    }
  }
  .form-control {
    height: 50px
  }
  &__input {
    flex: 0 0 51%;
    .form-control{
      border: 0 !important;
    }

  }
  &__button {
    flex: 0 0 19%;
    height: 100% !important;
  }
  &__slt {
    border-left: 1px solid $color-border-input;
  }
}
