@import '../../style/sass/variable';
  .main-footer {
  width: auto;
  height: 100%;
  background-color: #333840;
  padding-top:53px;
  color: #fff;
  background-image: url('../../images/footer-back.png');
  background-repeat: no-repeat;
  padding-right: 44px;
  background-position: center;
  height: 100%;
  .footer-section-one {
    ul {
      margin-top: 23px;
      li {
        font-size: 16px;
        list-style-type:none;
      }
    }
    .title {
      font-size: 22px;
      font-weight: bold;
      color: #e67e22;
    }
    p {
      margin-top: 23px;
      text-align: justify;
      font-size: 16px;
    }
    .left-img {
      margin-right: auto;
      margin-top: 23px;
      margin-bottom: 17px;
      .left-img__sabt {
        margin-left: 20px;
        width: 130.2px;
        height: 150px;
      }
      .left-img__enamad {
        margin-left: 95px;
        width: 94.8px;
        height: 150px;
      }
    }
  }
  .footer-section-two{
    font-size:16px;
    margin-bottom: 12px;
    img{
      margin-left: 9px;
    }
    .address{
      margin-bottom: 11px;
    }
    .mail{
      margin-right: 100px;
    }
    .tel{
      margin-right:100px;
    }
  }
  .footer-section-three {
    height: 98px;
    font-size: 14px;
    border-top: 1px dashed;
    padding-top: 45px;
  }
}

