@import '../../style/sass/variable';
.main-footer {
  width: auto;
  height: 100%;
  background-color: #333840;
  color: #fff;
  background-image: url('../../images/footer-back.png');
  background-repeat: no-repeat;
  .footer-section-one {
    ul {
      padding: 21px 100px 21px 0;
      li {
        font-size: 16px;

      }
    }
    .title {
      font-size: 22px;
      font-weight: bold;
      color: #e67e22;
    }
    p {
      text-align: right;
      font-size: 16px;
    }
    .left-img {
      margin-right: auto;
      margin-top: 23px;
      margin-bottom: 17px;
      .left-img__sabt {
        margin-left: 20px;
        width: 130.2px;
        height: 150px;
      }
      .left-img__enamad {
        margin-left: 95px;
        width: 94.8px;
        height: 150px;
      }
    }
  }
  .footer-section-two{
    font-size:16px;
  }
  .footer-section-three {
    height: 29px;
    font-size: 14px;
  }
}
