@import '../../style/sass/variable';
.news-card{
  border: 1px solid #cccccc;
  border-radius: 15px;
  height: 299px;
  width: 100%;
  overflow: hidden;
  &__img{
    img{
      width: 300px;
    }
  }
  p{
    text-align: justify;
  }
  &__detail{
    height: 184px;
    margin-bottom: auto;
  }
  &__bottom{
    border-top: 1px dashed $color-border-2;
    height: 68px;
    &-date{
      border-right: 1px dashed $color-border-2;
      margin-left: auto;
    }
  }
}
