@import '../../style//sass/variable';
.panigale-suggestion-searcher {
  height: 40px;
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  &__inner{
    height: 42px;
    border: 1px solid #dcdcdc;
    background-color: #FFFFFF;
    padding: 0 3px;
    border-radius: 25px;
    position: relative;
    margin: 0 !important;
    max-width: 450px;
    width: 100%;
  }
  #panigale-suggestion-search__input {
    height: 34px;
    padding: 0 10px;
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
  }
  .btn {
    height: 34px;
    width: 70px;
    padding-top: 5px;
    padding-bottom: 0;
    font-size: 19px;
    display: block;
    font-weight: bold;
    line-height: 1.2;
  }
  .card_white{
    .panigale-suggestion-search__item {
      display: block;
      height: auto;
      padding: 0 0 15px;
      margin-top: 10px;
      position: relative;
      z-index: 99;
      box-shadow: 0 0 3px 0 $color-grey-220;
      border-radius: 0 0 10px 10px;
      background-color: #fff;
      &-ul {
        border-bottom: 1px solid #dcdcdc;
        font-size: 14px;
        margin-bottom: 4px;
        list-style: none;
        &:last-child {
          border-bottom: 0;
        };
        li {
          padding: 9px;
        }
      }
    }
  }
}
.panigale-suggestion-search {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 14px;
    &[type=text] {
      background-color: #f1f1f1;
      width: 100%;
    }
    &[type=submit] {
      background-color: DodgerBlue;
      color: #fff;
      cursor: pointer;
    }
  }
  &__items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the panigale-suggestion-search items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
      &:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
      }
    }
  }
  &__active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
}
