@import '../../../../style/sass/variable.scss';

.Profile {
  font-size: 14px;
}
.Profile th {
  font-family: IRANyekan;
}
.Profile td,
.Profile th {
  text-align: center;
}
.Profile thead {
  border-radius: 5px;
  background-color: $gray-1;
}
.Profile td {
  color: #434343;
  padding: 7px;
}
.Profile button {
  font-size: 10px;
}
.Profile thead th {
  border: none;
}
.Profile tbody th,
.Profile tbody td {
  border-bottom: 1px solid #dfe4ea;
  border-top: none;
  vertical-align: middle;
}
td.active {
  color: $green-3 !important ;
}
td.unactive {
  color: #e20a23;
}
td.disabled {
  color: $gray-2;
}
td.ending {
  color: $yellow-6;
}
.Profile .btn-warning {
  color: #fff;
  background-color: $yellow-6;
}
