.auth {
  &__layout {
    background: #333840;
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    border-radius: 25px;
    margin-top:65px;
    margin-bottom:65px;
    > div{
      border-radius: 25px;
    }
  }
}
.header__simple{
  img{    
    display: block;
    width: 100%;
    max-width: 228px;
  }
}
