.kamairan-form h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}
.kama-theme {
  border-radius: 10px;
  border: solid 1px #dfe4ea;
  background-color: #ffffff;
  padding: 30px 90px;
  text-align: center;
  margin: 30px;
  .kamairan-imgform img{
    width:600px;
  }
}
.snapp-icon{
  position: absolute;
  bottom: 13px;
  left: 12px;
}
.kamairan-form {
  background-color: #333840;
  border-radius: 16px;
  padding: 32px;
  color: #fff;
}
.form-bottom {
  text-align: center;
  margin-top:28px;

.a {
  color: #fff;
}
 .orange {
  color: #e67e22;
}
}
