.profile-numberView {
  background-repeat: no-repeat;
  background-position: 5px;
}
.Profilepay p {
  text-align: justify;
}
.profile-pay {
  background-repeat: no-repeat;
  background-position: 5px;
}
.profile-img img {
  width: 100%;
  height: auto;
}
