@import '../../style/sass/variable';
.tender-cart{
    .cart-box1{
        width: 920px;
        height: 130px;
        border-radius: 10px;
        border: dashed 2px #48c37c;
        background-color: #ffffff;
        .cart-detail{
            .pic-avatar{
                height: 129px;
                border-left: dashed 2px #48c37c;
                .avatar{
                    width: 66px;
                    height: 71px;
                    margin: 0 38px 0 49px;
                }
            }
            .topic{
                padding-right: 16px;
                .topic-text{
                    justify-content: space-between;
                    padding-top: 18px;
                    .text__right{
                        color: #4b4b4b;
                    }
                    .text__left{
                        color:#353b48;
                        margin-right: auto;
                    }
                }
                .topic-text__section2{
                    padding-top: 10px;
                    .text__right{
                        color: #4b4b4b;
                    }
                }
                .topic-text__section-detail{
                    color: #353b48;
                    padding-top: 14px;
                    padding-bottom: 18px;
                    .text__right-detail{
                        .icon-right{
                            width: 28px;
                            height: 22px;  
                        }
                    }
                    .text__center-detail{
                        padding-right: 35px;
                        .icon-center{
                            width: 18px;
                            height: 22px;
                        }
                    }
                    .text__left-detail{
                        margin-right: auto;
                        text-align: left;
                        .icon-left{
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
}