@import '../../../../style/sass/variable';

.page-profile{
    .profile-home{
        .profile-user{
            border-radius:0 0 16px 16px;
            margin: 0 auto;
            width: 100%;
            box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.1);
            overflow: hidden;
            left:0;
            right:0;
            .profile{
                display:  flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 10px;
                text-align: center;

                &__image{
                    border: 1px solid $color-warning;
                    background: $color-warning;
                    border-radius: 50%;
                    width: 75px;
                    height: 75px;
                    margin-left: 16px;
                    margin-right: 16px;
                    color: #fff;
                    font-size: 40px;
                    img{
                        padding: 5px;
                        width: 36px;
                        height: 36px;
                    }
                }
                &__character{
                    padding-top: 20px;
                    padding-bottom: 10px;
                }
            }

            .profile-line{
                border-top: 1px solid $grey-4;
                padding: 12px 10px;
                display: flex;
                .profile-count{
                    & > span{
                        display: inline-block;
                    }
                    &__cash{
                        color:$grey-6;
                    }
                }
                .profile-gain{
                    border-color: $color-success;
                    background: $color-success;
                    border-radius: 40px;
                }
            }
        }
        .profile-background{
            color: #FFFFFF;
            width: 92%;
            text-align: center;
            margin: 0 auto;
            &__text{
                color: #FFFFFF;
                text-align: center;
                font-weight: bold;
            }
            .profile-background__icon{
                height: 28px;
                width: 28px;
                position: absolute;
                left: 0;
                top: 8px;
                .icon{
                    color: #fff;
                }
            }
            .profile-background_orgDiscount {
                padding: 1px 5px;
                background-color: #343d7acc;
                border-radius: 10px;
                position: absolute;
                right: -20px;
                top: -5px;
            }
        }
        .curvature {
            height: 50px;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
        }

    }

    .myAddress__radio{
        display: none;
    }
    .myAddress input[type="radio"]:checked ~ label{
        border: 0;
        box-shadow: none;
    }


    .profile-address {
        margin-top: 30px;
        .profile-address__item{
            margin-top: 32px;
            margin-bottom: 36px;
            .profile-address__adtitle{

                color: $grey-6;
                font-size: 14px;
                font-weight: 150;
                line-height: 44px;
            }
        }
    }
    .profile-menu-detail{
        padding:0 15px;
        .profile-menu__item{

            .accordion__title{
                outline: none;
                display: flex;
                text-align: right;
                position: relative;
                border-top: 1px solid $grey-12;
                padding: 18px 0;
                .list-text__left{
                    margin-right: auto;
                }
            }
            .accordion_hide:after {
                font-family: 'icomoon' !important;
                content: "\E901";
                position: absolute;
                left: 0px;
                color: #b9b9b9;
                font-size: 24px;
            }
        }
    }
}

