@import '../../../../style/sass/variable.scss';

.mainProfile{
  margin-top: 32px;
  table {
    .btn{
      height: 25px;
      border-radius: 5px;
      line-height: normal;
    }
    td,th{
      padding: 20px 5px;
      text-align: center;
    }
  }
  form {
    width: 100%;
    max-width: 325px;
    .btn {
      width: 100%;
    }
  }
  .profile-theme{
    border-radius: 10px;
    border: solid 1px #dfe4ea;
    background-color: #ffffff;
   h1{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: $gray-5;
    margin-bottom: 20px;
    font-family: IRANyekan;
  }
  .snapp-icon{

  }
  .theme-top{
    margin-bottom: 20px;
  }
}
  .profile-theme-button{display:none; margin-right: auto;font-size: 16px;}

  .ProfileSidebar{
    border-radius: 10px;
    border: solid 1px #dfe4ea;
    background-color: #fff;
  }
}
